namespace AOC2024.Puzzles;

public class $DAY : CustomBaseProblem<long>
{
    private readonly string[] _lines;

    public $DAY()
    {
        _lines = ReadLinesFromFile().ToArray();
    }

    public $DAY(IEnumerable<string> lines)
    {
        _lines = lines.ToArray();
    }

    public override long Solve1()
    {
        return default;
    }

    public override long Solve2()
    {
        return default;
    }
}
