namespace AOC2025.Puzzles;

public class $DAY : CustomBaseProblem<long>
{
    private readonly string[] _lines;

    public $DAY()
    {
        _lines = [.. ReadLinesFromFile()];
    }

    public $DAY(IEnumerable<string> lines)
    {
        _lines = [.. lines];
    }

    public override long Solve1()
    {
        return default;
    }

    public override long Solve2()
    {
        return default;
    }
}
